* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    background-color: #1b562289;
    color: white;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: white;
}

footer {
    background-color: #1b562289;
}

.inner-footer {
    margin: 0;
    padding: 0;
}

.social-media {
    display: flex;
}

.social-media ul {
    padding: 10px;
    display: flex;
    height: 30px;
    margin: auto;
}

.social-icon {
    list-style: none;
}

.social-icon a {
    padding: 10px;
    font-size: 25px;
    color: #fff;
}

.outer-footer {
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
}